# GMA Live Dashboard - Ignore List

# OS Files
.DS_Store
Thumbs.db

# Vercel Temporary Files
.vercel

# Local Configuration
.env
.env.local

# Node (in case of future modules)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Backup Files
*.bak
*.tmp
GMA-Dashboard.aspx
SharePoint_Setup_Guide.md
SharePointService.js
Run-Dashboard.ps1
